<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.jk.dao.book.UserMapper">



    <!-- parameterType === parameterClass
        resultType === resultClass
        #{} === ##
        ${} === $$
     -->

    <select id="selectUserList" resultType="user">
    SELECT t_id AS userID
      ,t_account AS userAcount
      ,t_pwd AS userPwd
      ,t_name AS userName
      ,t_sex AS userSex
      ,t_age AS userAge
      FROM t_users
    </select>

   
</mapper>   